.main {
    min-height: 400px;
    min-height: calc(100vh - 288px);
    padding: 16px;
}

.sidenav {
    width: 250px;
    padding: 8px 16px;
    position: fixed;

    .close {
        margin-left: 178px;
    }

    .divider {
        margin: 8px 0;
    }
}

.cart-items-count {
    position: absolute;
    top: -3px;
    left: 26px;
    background: #f44336;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 11px;
}

.main-fixed {
    height: 100vh;
    z-index: 1000;
}

.homes {
    // color: White !important;
    // background-color: white !important;
    // background-image: linear-gradient(to bottom left,  #eef2f5, #e8edf1);
    height: 10vh;
    z-index: 1000;

}

// #eef2f5
.top-fixed {
    // background-color: #53b995 !important;
    border-bottom: none !important;
    position: fixed;
    z-index: 1000;
}
.top-bar {
 background-color: #53b995 !important;
}

#bottom-fix {
    margin-top: 130px;
}

.white-back {
    // color:  #ffffff !important;
    // background-color: #ffffff !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.remove-white {
    // background-color: white !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

// .introduction {
//     height: 90vh;
//     width: 100%;
//     background-color: #eef2f5;
//     background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));
//     opacity: .4;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     position: relative;
// }

.slogan-portion {
    padding-left: 20px;
    padding-top: 20px;

}

.slogan-portion>h2 {
    font-size: 30px !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

.but-join {
    display: inline-block;
}

.button-join {
    // float: right;
    color: #53b995 !important;
    // border: 2px solid white !important;
}

// .image-portion {
//     bottom: 15px;
//     right: 15px;
//     position: absolute;
// }
.home-banner {
    position: relative;
    background-image: url(/assets/images/others/banner-last.jpg) !important;
    // background-repeat: no-repeat !important;
    // background-size: cover !important;
    background-size:100% 100vh !important;

}
h2 {
    color: white !important;
}