<div id="sign-in-button"></div>
<h1 class="main-head" mat-dialog-title>{{modalTitle}}</h1>
<mat-divider></mat-divider>
<h6 mat-dialog-title class="text-muted">Please enter your phone number to reset password</h6>
<mat-dialog-content>
  <form [formGroup]="forgotPassword">
  <mat-form-field>
    <input matInput placeholder="Phone number" formControlName = "phone">
    <mat-error *ngIf="forgotPassword.controls.phone.errors?.required">Phone is required</mat-error>
    <!-- <mat-error *ngIf="forgotPassword.controls.phone.hasError('invalidPhone')">Invalid phone number</mat-error> -->
    <mat-error *ngIf="forgotPassword.controls.phone.errors?.invalidPhone">Invalid phone number</mat-error>

  </mat-form-field>
<button mat-raised-button class="resend" (click)="disableResend()" [disabled]="btnDisable">Send
  code</button>
<h5 *ngIf="btnDisable" class="resend text-muted">(Try again in {{counter$ | async}})</h5>
<!-- <h5 class="text-muted">By clicking Continue you are indicating that you agree to the<br>Terms And Conditions.</h5> -->
<br><mat-form-field *ngIf = "clicked">
    <input type="text" placeholder="6-digit code" matInput formControlName = "verificationCode">
  </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close>Cancel</button>
  <button class="mat-raised-button mat-primary" mat-dialog-close (click)="submitCode()">Continue</button>
</mat-dialog-actions>