<div class="text-center">
<h1>Earn more easily!</h1>
<h3 class="mt-1">By featuring your profile, you will get more work.</h3>

<!-- 
<section class="example-section">
    <mat-checkbox color = "primary" class="example-margin">Feature Profile For 7 Days</mat-checkbox>
    <p>Rs 300</p>
  </section> -->

</div>

<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><mat-checkbox color = "primary" class="example-margin">Feature Profile For 20 Days</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
        <strong>Rs 500</strong>
      </mat-grid-tile>
  
    <mat-grid-tile><mat-checkbox color = "primary" class="example-margin">Feature Profile For 10 Days</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
        <strong>Rs 300</strong>
      </mat-grid-tile>
  </mat-grid-list> -->
<mat-divider class="mt-1"></mat-divider>
  <div class="mt-1" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
      <div fxFlex="50%">
          <mat-checkbox color = "primary" class="example-margin">Feature Profile For 10 Days</mat-checkbox>
      </div>
      <div fxFlex="20%">
          <strong>Rs 300</strong>
      </div>
    </div>
    <div class="mt-1" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
        <div fxFlex="50%">
            <mat-checkbox color = "primary" class="example-margin">Feature Profile For 20 Days</mat-checkbox>
        </div>
        <div fxFlex="20%">
            <strong>Rs 300</strong>
        </div>
      </div>