<h2 class="text-center text-muted">Safety Tips!</h2>
<div class="mat-divider mt-1"></div>

<div fxLayout="row wrap" class="text-muted">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
    <h2 class="text-center">For Service Providers</h2>
    <div class="p-1">
      <h4> So you accept a hiring request and you're going to work - we know you might have some concerns over making a
        safe
        journey, so here are some tips for you:
      </h4>
      <mat-list>
        <mat-list-item class="py-1">
          <h5 class="text-muted">
            1). Make sure that the person or organization is hiring you for their problems are authenticated user of
            Asaan.
          </h5>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  class="py-1">
          <h5 class="text-muted">
            2). Always check your payment you received after you completed your service. We are not responsible for any type of payment forgery.
          </h5>
        </mat-list-item >
        <mat-divider></mat-divider>
        <mat-list-item class="py-1">
          <h5 class="text-muted">
            3). Don't accept any hiring request for any security risk address.
          </h5>
        </mat-list-item>
      </mat-list>

    </div>


  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
    <h2 class="text-muted text-center">For Customers</h2>

    <div class="p-1">
      <h4> If you are hiring a person or oraization for your problem - we know you might have some concerns over making a
        safe solution of your problem, so here are some tips for you:
      </h4>
      <mat-list>
        <mat-list-item class="py-1">
          <h5 class="text-muted">
            1). Before hiring any individual or organziation, make sure that you have seen all the reviews of that particular service provider.
          </h5>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  class="py-1">
          <h5 class="text-muted">
            2). Make sure that the service provider is authenticated by Asaan.
          </h5>
        </mat-list-item >
        <mat-divider></mat-divider>
        <mat-list-item class="py-1">
          <h5 class="text-muted">
            3). Before hiring any service provider, make sure you have visited the complete profile of the service provider.
          </h5>
        </mat-list-item>
      </mat-list>

    </div>

  </div>
</div>