<mat-card>
  <div fxLayout="row wrap " fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <h2 class="text-muted text-center">Reset your password</h2>
      <h4 class="mt-1 text-center">Please choose a new password to finish signing in.</h4>
      <form [formGroup]="resetForm">
        <mat-form-field class="w-100 mt-1">
          <input matInput placeholder="New password" formControlName="password" type="password" required>
          <mat-error *ngIf="resetForm.controls.password.errors?.required">Password is required</mat-error>
          <mat-error *ngIf="resetForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6
            characters</mat-error>
          <mat-error *ngIf="resetForm.controls.password.hasError('invalidPass')">Incorrect password</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mt-1">
          <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" required>
          <mat-error *ngIf="resetForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
          <mat-error *ngIf="resetForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not
            match</mat-error>
        </mat-form-field>
        <div class="text-center mt-2">
          <button mat-fab color="primary" class="mat-elevation-z6" (click)="onresetFormSubmit(resetForm.value)">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        </form>
    </div>
  </div>
</mat-card>